# Exercise - Load, Inspect and Clean Data

In this exercise, you will apply the data preparation skills you have learned so far. The dataset is a modified version of the ["Housing Prices Dataset" from Kaggle](https://www.kaggle.com/datasets/yasserh/housing-prices-dataset).

In [31]:
# DO NOT MODIFY - imports
import pandas as pd

## 1. Load and inspect the data

Load the file `Housing_Modified.csv`, check its dimensions and display its first few rows. Feel free to inspect it further using your favorite methods.

In [32]:
# FILL IN - Load the CSV file and check its dimensions
df = pd.read_csv("Housing_Modified.csv")
df.shape

(547, 13)

In [33]:
# FILL IN - Display the first 5 rows
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4,2,3,yes,no,no,no,yes,2.0,yes,furnished
1,12250000,8960.0,4,4,4,yes,no,no,no,yes,3.0,no,furnished
2,12250000,9960.0,3,2,2,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000,7500.0,4,2,2,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420.0,4,1,2,yes,NaN,yes,no,yes,2.0,no,furnished

Confirm that the data types in all columns make sense.

In [34]:
# FILL IN - Check data types
df.dtypes   # Or df.info()

price                 int64
area                float64
bedrooms              int64
bathrooms             int64
stories               int64
mainroad             object
guestroom            object
basement             object
hotwaterheating      object
airconditioning      object
parking             float64
prefarea             object
furnishingstatus     object
dtype: object

Check for duplicated rows.

In [35]:
# FILL IN - Check for duplicates
df.duplicated().sum()

np.int64(2)

Check how many missing values there are in each column.

In [36]:
# FILL IN - Check for missing values
df.isnull().sum()   # Or df.isna().sum()

price                0
area                 4
bedrooms             0
bathrooms            0
stories              0
mainroad             0
guestroom           19
basement             0
hotwaterheating      4
airconditioning      0
parking              0
prefarea             0
furnishingstatus     0
dtype: int64

# 2. Data Cleaning

Drop duplicated rows, if there were any.

In [37]:
# FILL IN - Drop duplicates, if any
df.drop_duplicates(inplace=True)    # Or df = df.drop_duplicates()

When you checked earlier, you should have seen some missing values in the `guestroom` and `hotwaterheating` columns.  

Imagine you have a **lot** of missing values for `guestroom` (a lot more than you actually see here) and cannot reliably impute them. You also figure it is not too important a feature for predicting house prices and decide to drop the _column_ entirely.

In [38]:
# FILL IN - Drop the `guestroom` column
df.drop(columns=["guestroom"], inplace=True)  # Or df = df.drop(columns=["guestroom"])

There should be only a few missing values in `hotwaterheating`. Drop the _rows_ of data that are missing values for `hotwaterheating`.  
**HINT:** Specify the column name using the `subset` parameter of the `dropna()` method.

In [39]:
# FILL IN - Drop rows with missing values for `hotwaterheating`
df.dropna(subset=["hotwaterheating"], inplace=True)    # Or df = df.dropna(subset=["hotwaterheating"])

Impute missing `area` values using the mean of the column.

In [40]:
# FILL IN - Fill missing values for `area` with the mean
area_mean = df["area"].mean()
df["area"] = df["area"].fillna(area_mean)   # Avoid using inplace=True here due to the FutureWarning that will be raised

Verify that there are no more missing values and that the dimensions of the resulting cleaned dataset match your expectations.

In [41]:
# FILL IN - Check for missing values
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [42]:
# FILL IN - Check the dimensions of the DataFrame
df.shape

(541, 12)